<template>
  <div>
    <header class="d-flex justify-content-center flex-column">
      <div class="events-box">
        <section v-for="event in events" :key="event.id" class="event-box col-md-6 col-sm-12">
          <a style="cursor: pointer;" @click="openDialog(event)">
            <img :src="`${serverUrl}/${event.image}`" alt="رویداد" />
            <div class="event-info">{{ event.title }}</div>
          </a>
        </section>
        <el-dialog
          class="myDialog"
          :title="`${dialogTitle} - ${dialogDate}`"
          :visible.sync="detailDialog"
          width="50%"
          center
        >
          <p>{{ dialogContent }}</p>
          <span slot="footer" class="dialog-footer">
            <el-button @click="detailDialog = false">باشه</el-button>
          </span>
        </el-dialog>
      </div>
      <nuxt-link class="more-event-btn" to="#" tag="button">بیشتر</nuxt-link>
    </header>
  </div>
</template>

<script>
export default {
  middleware: "auth",
  data() {
    return {
      serverUrl: process.env.serverUrl,
      events: [],
      detailDialog: false,
      dialogTitle: "",
      dialogContent: "",
      dialogDate: ""
    };
  },
  methods: {
    openDialog(event) {
      this.dialogTitle = event.title;
      this.dialogContent = event.content;
      this.dialogDate = event.date;
      this.detailDialog = true;
    }
  },
  async mounted() {
    try {
      const res = await this.$axios.$get(`${process.env.serverUrl}/events`);
      this.events = res;
    } catch (err) {
      this.$notify({
        title: "خطا",
        message: "خطایی رخ داده ، دوباره امتحان کنید",
        type: "error"
      });
    }
  }
};
</script>

<style scoped>
.myDialog {
  direction: rtl !important;
}
.more-event-btn {
  background-color: #6d4c41;
  color: #fff;
  padding: 10px 50px;
  text-align: center;
}
.events-box {
  width: 100%;
  background-color: #3e2723;

  display: flex;
  flex-wrap: wrap;
}
.event-box {
  width: 100%;
  height: 50vh;
  transition: all 0.3s;
  position: relative;
}

.event-box > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  display: block;
}

.event-info {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.event-box:hover .event-info {
  opacity: 1;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0px;
}
</style>