<template>
  <div>
    <VuePerfectScrollbar class="scroll-area" v-once>
      <nuxt />
    </VuePerfectScrollbar>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
export default {
  components: { VuePerfectScrollbar }
};
</script>

<style>
.scroll-area {
  position: relative;
  margin: auto;
  width: 100vw;
  height: 100vh;
}
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
