<template>
  <nav class="nav d-flex justify-content-between align-items-center">
    <div>
      <nuxt-link to="/" tag="button" class="nav-btn btn">کافه</nuxt-link>
      <nuxt-link to="/admin/events" tag="button" class="nav-btn btn">رویداد ها</nuxt-link>
      <nuxt-link to="/admin/work-hours" tag="button" class="nav-btn btn">حضور غیاب</nuxt-link>
    </div>
    <el-tooltip content="خروج" placement="top">
      <button class="btn" @click="exit">
        <i class="el-icon-close"></i>
      </button>
    </el-tooltip>
  </nav>
</template>

<style scoped>
.nav {
  direction: rtl;
  width: 100%;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.nav-btn {
  margin: auto 20px;
}
</style>

<script>
export default {
  data() {
    return {
      userType: "user"
    };
  },
  methods: {
    exit() {
      localStorage.removeItem("token");
      localStorage.removeItem("session");
      this.$router.push("/auth");
    }
  },
  mounted() {
    this.userType = localStorage.getItem("type");
  }
};
</script>