<template>
  <div>
    <navbar></navbar>
    <div class="container">
      <button class="btn btn-block btn-success mt-5" @click="showWHDialog = true">ثبت حضور</button>
      <el-dialog title="ثبت حضور کارمند" :visible.sync="showWHDialog" width="80%" center>
        <el-autocomplete
          style="width: 100%; text-align:center; direction:rtl;"
          class="my-5"
          popper-class="my-autocomplete"
          v-model="user"
          @select="handleSelect"
          :fetch-suggestions="querySearch"
          placeholder=" جستجوی کارمند"
          @keyup.enter="search"
        >
          <i class="el-icon-search" slot="suffix"></i>
          <template slot-scope="{ item }">
            <div>{{ item.name }}</div>
          </template>
        </el-autocomplete>
        <div class="d-flex" style=" direction:rtl;">
          <el-input class="ml-1" type="text" v-model="date" placeholder="تاریخ"></el-input>
          <el-input class="mr-1" type="text" v-model="time" placeholder="ساعت"></el-input>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showWHDialog = false">انصراف</el-button>
          <el-button type="primary" @click="submitWH">ثبت</el-button>
        </span>
      </el-dialog>
      <div class="my-5">
        <button @click="search" class="btn btn-info">جستجو</button>
        <el-autocomplete
          style="text-align:center; direction:rtl;"
          popper-class="my-autocomplete"
          v-model="user"
          @select="handleSelect"
          :fetch-suggestions="querySearch"
          placeholder=" جستجوی کارمند + اینتر"
        >
          <i class="el-icon-search" slot="suffix"></i>
          <template slot-scope="{ item }">
            <div>{{ item.name }}</div>
          </template>
        </el-autocomplete>
      </div>
      <el-table :data="wh" border style="width: 100%" class="myTable mb-5">
        <el-table-column align="center" prop="employee.name" label="نام"></el-table-column>
        <el-table-column align="center" prop="employee.phoneNumber" label="شماره همراه" width="180"></el-table-column>
        <el-table-column align="center" prop="date" label="تاریخ" width="180"></el-table-column>
        <el-table-column align="center" prop="time" label="زمان" width="180"></el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import navbar from "../../components/navbar";

export default {
  components: { navbar },
  middleware: "auth",
  data() {
    return {
      wh: [],
      user: "",
      date: "",
      time: "",
      userId: "",
      employees: [],
      showWHDialog: false,
      userInfo: ""
    };
  },
  methods: {
    async submitWH() {
      try {
        const token = localStorage.getItem("token");
        this.$axios.setToken(token);
        const res = await this.$axios.$post(
          `${process.env.serverUrl}/admin/work-hours?userId=${this.userId}`,
          {
            userId: this.userId,
            time: this.time,
            date: this.date
          }
        );

        this.$notify({
          title: "موفق",
          message: "اطلاعات ثبت شد",
          type: "success"
        });
        this.wh.push({
          employee: {
            phoneNumber: this.userInfo.phoneNumber,
            name: this.userInfo.name
          },
          date: this.date,
          time: this.time
        });
      } catch (err) {
        this.$notify({
          title: "خطا",
          message: "خطایی رخ داده ، دوباره امتحان کنید",
          type: "error"
        });
      }
      this.showWHDialog = false;
    },
    async search() {
      try {
        const token = localStorage.getItem("token");
        this.$axios.setToken(token);
        const res = await this.$axios.$get(
          `${process.env.serverUrl}/admin/work-hours?userId=${this.userId}`
        );
        this.wh = res;
        this.userId = "";
        this.user = "";
      } catch (err) {
        this.$notify({
          title: "خطا",
          message: "خطایی رخ داده ، دوباره امتحان کنید",
          type: "error"
        });
      }
    },
    handleSelect(item) {
      this.userId = item.id;
      this.user = item.name;
      this.userInfo = item;
    },
    querySearch(queryString, cb) {
      let employees = this.employees;
      let results = queryString
        ? employees.filter(this.createFilter(queryString))
        : employees;
      // call callback function to return suggestion objects
      cb(results);
    }
  },
  createFilter(queryString) {
    return employee => {
      return (
        employee.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
      );
    };
  },
  async mounted() {
    try {
      let token = localStorage.getItem("token");
      this.$axios.setToken(token);

      const res = await this.$axios.$get(
        `${process.env.serverUrl}/admin/work-hours`
      );
      this.wh = res;
    } catch (err) {
      this.$notify({
        title: "خطا",
        message: "خطایی رخ داده ، دوباره امتحان کنید",
        type: "error"
      });
    }

    /**
     * get employees list
     */
    try {
      let token = localStorage.getItem("token");
      this.$axios.setToken(token);
      const res = await this.$axios.$get(
        `${process.env.serverUrl}/admin/users`
      );
      this.employees = res;
    } catch (err) {
      this.$notify({
        title: "خطا",
        message: "خطایی رخ داده ، دوباره امتحان کنید",
        type: "error"
      });
    }
  }
};
</script>

<style scoped>
.myTable {
  direction: rtl;
  background-color: #fdfdfd;
}
</style>